/*******FONT_FACE*************************/
@font-face {font-family: 'Orbitron';font-style: normal;font-weight: 400;src: local('Orbitron-Light'), local('Orbitron-Regular'), url(../font/orbitron/94ug0rEgQO_WuI_xKJMFc_esZW2xOQ-xsNqO47m55DA.woff) format('woff');}
@font-face {font-family: 'Orbitron';font-style: normal;font-weight: 500;src: local('Orbitron-Medium'), url(../font/orbitron/VK2oK8L4CJesxwY5dF3zxYbN6UDyHWBl620a-IRfuBk.woff) format('woff');}
@font-face {font-family: 'Orbitron';font-style: normal;font-weight: 700;src: local('Orbitron-Bold'), url(../font/orbitron/Y82YH_MJJWnsH2yUA5AuYYbN6UDyHWBl620a-IRfuBk.woff) format('woff');}
@font-face {font-family: 'Orbitron';font-style: normal;font-weight: 900;src: local('Orbitron-Black'), url(../font/orbitron/FyvTORElv6iWeP2Jf9yG3YbN6UDyHWBl620a-IRfuBk.woff) format('woff');}
/**********RESET*****************/
html{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;}
*, *:before, *:after{box-sizing:inherit;-o-box-sizing:inherit;-webkit-box-sizing:inherit;-ms-box-sizing:inherit;-moz-box-sizing:inherit;}
*{border:0;font:inherit;font-family:'times new roman',sans-serif;margin:0;padding:0;vertical-align:baseline;text-rendering:geometricPrecision;}ul{list-style:none;font-size:1vw;}
a{text-decoration:none;color:#7d7d7d;}
.fa{text-shadow:black 0.1vw 0.1vw 0.2vw;}
/***********HTML********************************/
main{width:100%;border:0;margin:0 auto;padding:0;
  background:linear-gradient(135deg, #fff 22px, #E1E7EA 22px, #E1E7EA 24px, transparent 24px, transparent 67px, #E1E7EA 67px, #E1E7EA 69px, transparent 69px),
linear-gradient(225deg, #fff 22px, #E1E7EA 22px, #E1E7EA 24px, transparent 24px, transparent 67px, #E1E7EA 67px, #E1E7EA 69px, transparent 69px)0 64px;background-color:#fff;background-size: 64px 128px;}
/*****HEADER*****/
header{height:5vw;width:100%;position:relative;overflow:hidden;}
header p{font-family:'Orbitron',serif;color:#777;}
/****ASIDE****************/
aside{float:right;width:12vw;position:fixed;right:-12vw;top:5vw;background:rgba(0, 0, 0, 0.8);border:solid .2vw;border-color:#777 transparent #777 #777;-webkit-transition-property:all;-webkit-transition-duration:1.5s;-moz-transition-property:all;-moz-transition-duration:1.5s;-o-transition-property:all;-o-transition-duration:1.5s;transition-property:all;transition-duration:1.5s;border-bottom-left-radius:1vw;border-top-left-radius: 1vw;padding:.5vw;}
aside:before{width:21vw;height: 2.5vw;content:'CATEGORIAS  \f00b';font-family:FontAwesome;color:#777;position:absolute;right:3.1vw;;bottom:0;top:14vw;font-size:2.5vw;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);transform:rotate(-90deg);z-index: 0;border-top-left-radius:.5vw;border-top-right-radius:.5vw;padding:0 .5vw;font-weight:bold}
aside:hover{right:0;}
aside h1{color:#fff;}
.limite{position:fixed;z-index:1;top:5vw;background:rgba(0, 0, 0, 0.8);border:solid .2vw;border-color:#777 #777 #777 transparent;padding:.5vw;left:-36vw;-webkit-transition-property:all;-webkit-transition-duration:1.5s;-moz-transition-property:all;-moz-transition-duration:1.5s;-o-transition-property:all;-o-transition-duration:1.5s;transition-property:all;transition-duration:1.5s;width:36vw;}
.limite:hover{left:0;}
.limite:before{content:'\f00b';font-family:FontAwesome;color: #777;position:absolute;right:-2.5vw;bottom:0;top:0;font-size:2.5vw;}
/**********ORDEN**#073a4f**#204E61**#396172**/
.limite select{padding:0 0 0 0.4vw;font-weight: bolder;text-transform:uppercase;height:2vw;font-size:1vw!important;
float:left;}
.limite select[name="cambio"]{width:12vw;}
.limite select[name="categoria"]{width:12vw;}
.limite select[name="limit"]{width:10vw;}
.categ{}
.categ li{margin:.2vw .5vw;text-transform:uppercase;}
.categ li:hover{background:#fff;}
.categ li p:hover{color:rgba(0, 0, 0, 0.8);}
.categ a{color:#fff;font-weight: bold;}
/*********CUSTOM SELECT***********************************/
label.custom-select {position: relative;display: inline-block;}
.custom-select select {cursor:pointer;display: inline-block;border: inset 0.3vw;border-color: rgba(137, 135, 135, 0.49) rgba(137, 135, 135, 0.55) rgba(137, 135, 135, 0.43) rgba(137, 135, 135, 0.62);box-shadow: inset 0.2vw 0.2vw 0.1vw rgba(0,0,0,0.60);margin: 0;font: inherit;outline:none;line-height:1;background: #f8f8f8;-webkit-appearance:none;}
.custom-select select:focus {-webkit-box-shadow: 0 0 0.3vw 0.1vw #000;-moz-box-shadow: 0 0 0.3vw 0.1vw #000;box-shadow: 0 0 0.3vw 0.1vw #000;}
.custom-select:after{position: absolute;top: 0;right: 0;bottom: 0;font-size:.8vw;line-height:2.5;padding:0 0.2vw 0 0.2vw;background: #bbb;color: white;pointer-events:none;}
.m.custom-select:after {content: "▼ MOSTRAR #";}
.n.custom-select:after {content: "▼ ORDENAR POR :";}
.c.custom-select:after {content: "▼ CATEGORIA :";}
.no-pointer-events .custom-select:after {content: none;}
option:nth-of-type(odd){background-color:#eee;}
/**section***/
.fix{width:100%;float:left;position:relative;}
.paginador{float:left;position:relative;width:100%;position:relative;}
.pagina{display:block;width:25vw;margin:0 auto;height:3vw;padding:1vw .5vw;}
.pagina li{display:inline;}
section{width:23vw;float:left;height:20vw;margin:.2vw;}
section h2{font-size:1.2vw;color:#81B8F5;margin:0 0 .5vw;}
section img{float:left;width:100%;height:100%;display:block;}
figure{border:solid .2vw #E1E7EA;display:block;position:relative;float:left;overflow:hidden;width:100%;height:100%;}
figcaption{position:absolute;background:rgba(0,0,0,0.75);color:white;width: 100%;height:100%;padding:1vw;opacity:0;-webkit-transition:all 0.6s ease;-moz-transition:all 0.6s ease;-o-transition:all 0.6s ease;transition:all 0.6s ease;color:#fff;}
figure:hover figcaption{opacity:1;}
.cap-bot:before{bottom:.9vw;left:.9vw; }
.cap-bot figcaption {left:0;bottom:-30%;}
.cap-bot:hover figcaption{bottom:0;}
section .boton{margin-right:1vw 0}
section .fa-calendar{color:#daa342;}
section .fa-user{color:#1B663E;}
section .fa-comments{color:#2D89EF}
section .fa-eye{color:#FFC40D;}
section .fa-tags{color:#603CBA;}
.descr{width:100%;padding:0 .2vw;display:inline-block;height:11vw;font-size:.95vw;overflow:hidden;color:#fff;float:left;position:relative;}
.divi{width:100%;float:left;height:4vw;position:relative;margin-top:.5vw;}
.inline{margin:.2vw 0;width:100%;display:inline-block;font-size:.8vw;}
.inline p{font-size:1vw;text-transform:uppercase;margin:.2vw auto;}
.inline .fa{margin:0 .5vw}
/******article**********/
article{min-height:39vw;float:left;width:100%;margin-bottom:1vw;min-height:44vw;}
/*********FOOTER********#ebebeb**********/
footer{width: 100%;height:8vw;clear:both;color:#777;padding-top:5px;overflow:hidden;}
footer p{text-align:center;font-size:1.2vw;}
footer h3{border-bottom:solid .2vw #777;text-align:center;color:#777!important;font-family:'Orbitron',serif;font-size:2vw;font-weight:bold;}
footer hr{margin-bottom:0.8vw;height:1;background-color:#ccc;}
/*****MENU************************************************/
nav{width:30vw;height:5vw;float:right;position:relative;}
.bactivo{color:#555;}
.col{float:left;padding:0 0.6vw;position:relative;font-size:4vw;cursor:pointer;border-bottom:inset .2vw #777;}
.col>a:hover,.col:hover{color:#555;}
.col>a{vertical-align:middle;text-align:center}
/****LOGO*******************/
.imglogo{width:26.5vw;position:relative;float:left;height:4vw;text-transform:uppercase;display:table;padding:0 1vw 0 0;}
.imglogo>p{font-size:3vw;color:#fff;margin:.5vw;font-weight:bold;background:rgba(119, 119, 119, 0.85);padding:.2vw .5vw;margin-left:3.3vw;}
/*****GLOBAL CABEZERAS**************/
h1, h2, h3, h4, h5, h6 {text-transform:uppercase;color:#8c8989;font-weight:bold}
h2{font-size:1.2vw;letter-spacing:-1px;font-weight:bold;}
b{font-weight:bold;}
/******GLOBAL INPUT TEXTAREA AND TEXT***********/
textarea,input[type="text"]{background-color:#E1E7EA;padding:0.2vw 0 0 0.5vw;font-size:1vw;outline:0;border:solid 1px #C3D0D5;}
/******GLOBAL INPUT TEXT***************/
input[type="text"]{height:2vw;width:10vw;line-height:1.5;}
/*****GLOBAL TEXTAREA************/
textarea{resize:none;overflow:auto;}
/*****GLOBAL BOTONES***************************/
.boton,input[type="submit"],input[type="reset"]{font-size: 1.2vw;border:solid .2vw #daa342;cursor:pointer;letter-spacing:-0.1vw;text-transform:uppercase;background-color:transparent;color:#daa342;padding:0.2vw;text-align:center;width:6vw;height:2vw;border-radius:0.2vw;font-weight:bold;vertical-align:top;}
.boton a{color:#daa342;}
.boton a:hover{color:#fff;}
.boton:hover,input[type="submit"]:hover,input[type="reset"]:hover{border-color:#fff;color:#fff;background-color:#daa342;outline:solid 1px #daa342;}
.boton:active,input[type="submit"]:active,input[type="reset"]:active{position:relative;top:.2vw;}
.no{cursor:default;}
/*****************scrollbar*******************************/
::-webkit-scrollbar{width:0.4vw;}
::-webkit-scrollbar-track {background:#F0F3F4;}
::-webkit-scrollbar-thumb:horizontal{height:0.3vw}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-corner{background-color:rgba(218, 130, 59, 0.97);}  
::-webkit-resizer{}
::-webkit-scrollbar-button:start{background:#073a4f;}
::-webkit-scrollbar-button:end{background:#073a4f;}
::-webkit-scrollbar-thumb:window-inactive {}
::-webkit-scrollbar-thumb {background: #6A8995;}
/*************SIMPLE*************************************/
.scont{width:100%;font-size:1vw;font-weight:bold;padding:0 1vw;color:#073a4f;text-transform:uppercase;word-spacing:.2vw;margin-bottom:1vw;float:left;line-height:2;}
.fotosim{margin:2vw 1vw;float:left;max-width:55vw;min-height:30vw}
.infor{float:left;margin:2vw 0;text-transform:uppercase;font-weight:bold;color:#073a4f;width:20vw}
.centro{margin:0 auto;width:85vw}
.infor .fa{width:3vw;height:3vw;text-align:center;color:#fff;font-size:3vw;margin:.5vw;}
.infor .fa-eye{background:#FFC40D;}
.infor .fa-tags{background:#603CBA;}
.infor .fa-comments{background:#2D89EF;}
.infor .fa-user{background:#1B663E;}
.infor .fa-calendar{background:#daa342;}
.infor .boton{float:right;}
/*****PLACEHOLDERS*****************************************************/
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{text-transform:uppercase;color:#fff;font-weight:bold}
input[placeholder],input::-moz-placeholder,textarea::-moz-placeholder{text-transform:uppercase;color:#fff;font-weight:bold;opacity:1;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{text-transform:uppercase;;color:#fff;font-weight:bold}
/**#DEAC55*********#C4933B******************************************/
.servicios{margin:0 auto;width:94%;margin-bottom:0.9vw;}
.servicios p{text-align:justify}
.servicios h3{font-size:1.4vw;font-weight:bold;}
.ofrecidos{width:100%;margin:0 auto;padding:1vw;line-height:2;background-color:rgba(255, 255, 255, 0.7)}
.ofrecidos p{font-size:.9vw;font-weight:bold;padding:0 1vw;color:#073a4f;text-transform: uppercase;word-spacing:.2vw;margin-bottom:1vw;}
/******CONTACTO********/
.contactos{width:100%;float:left;position:relative;margin-top: 6vw;padding:0.5vw;}
.goframe,.span,.form{margin:0 0 0 2vw;}
.goframe{width:25vw;height:25vw;float:left;border:solid .3vw #E1E7EA;}
.span{width:31vw;height:25vw;padding:1vw;float:left;background:rgba(255, 255, 255, 0.7);}
.span .fa{color:#97ACB5;}
.span h2{margin:0 0 0.5vw 0;}
.span h5{font-weight:bold;color:#073a4f;font-size:1vw;}
.span>p{font-size:.9vw;color:#073a4f;text-transform:uppercase;font-weight:bold;margin:.5vw 0 .5vw 0;}
a[href^="mailto:"]{color:#073a4f;font-family:orbitron;}
address {display: block;font-size:1.2vw;font-weight: bold;line-height:1.5;color:#073a4f;}
address>b{color:#073a4f;font-size:1.2vw;}
.form{width:28vw;float:left;}
.form h2{margin-bottom:.5vw}
.form input[type="text"]{width:9.13vw;margin-bottom:0.2vw;float:left;margin-right:.15vw;}
.form input[name="name"]{border-top-left-radius:.5vw}
.form input[name="phone"]{border-top-right-radius:.5vw}
.form textarea{width:27.7vw;height:16.6vw;border-radius:0 0 .5vw .5vw;}
/************PIE SOCIAL**********************/
.cont{font-size:1.1em;float:left;margin-left:1vw;position: relative;bottom:2.9vw;}
.cont li{font-weight:bold;color:#777;text-transform: uppercase;vertical-align:top;margin-bottom:0.3vw;font-size:1.3vw;}
.cont a{display:-webkit-box-sizing;}
.social{float:right;margin-right:3vw;position: relative;bottom:3.9vw;}
.social h4{margin-left:2.3vw}
.layer{background-color:#fff;border:solid .2vw #777;padding:.2vw;}
.social span{font-family:orbitron;font-weight:bold;}
.face,.twi,.gog,.cor{border:solid .2vw transparent;text-align:center;display: inline-block;padding:.4vw;font-size:3vw;width:4vw;height:4vw;cursor:pointer;-webkit-transition: width 1s, height 1s,-webkit-transform 1s;transition: width 1s, height 1s, transform 1s;-ms-transition: width 1s, height 1s,transform 1s;-moz-transition: width 1s, height 1s, transform 1s;-o-transition: width 1s, height 1s, transform 1s;}
.face a,.twi a,.gog a,.cor a{color:#FFF}
.face{background-color:#005599}
.cor:hover,.gog:hover,.twi:hover,.face:hover{border:solid .2vw #fff;-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2);z-index:2;position:relative}
.twi{background-color:#3face0;}
.gog{background-color:#da2126}
.cor{background-color:#ff3333}
/***********************************/
.facebook{width:100%;text-align:center;float:left;}
/***********************FORMULARIO_CORREO***/
.success{background:#CFFFF5;padding:0.9vw;margin-bottom:0.9vw;border: 1px solid #B9ECCE;border-radius:5px;font-weight: normal;width:821px;text-transform:uppercase;}
.error{background:#FFDFDF;padding:0.9vw;margin-bottom:0.9vw;border: 1px solid #000;border-radius: 4px;font-weight:normal;width:821px;text-transform:uppercase;}
.box .tag{border-top: 0px solid #d8dfea!important}
#l_error{height:1vw;background-color:red;float:left;color:#fff;border: solid 0.1vw #fff;padding-left:0.9vw;text-transform: uppercase;width:27.4vw;}
.editor{overflow: hidden;box-shadow: 6px 6px 0.9vw #000;word-wrap: break-word;width: 1265px;float: left;padding: 5px 5px 0.9vw 5px;background-color: #f0eeff;border: solid 0.2vw;border-color: #eee #666 #666 #ccc;margin: 5px 0px 0.9vw 0px;}
/*MOZILLA FIX*/
@-moz-document url-prefix(){
	.mm{outline:0;box-shadow:0 0 0 .2vw #444,0.1vw 0.2vw 0.1vw #000, 0 .35vw 0.1vw #000;}
	.mm:after{box-shadow:-.2vw .1vw 0 0 #000;}
	.mm:before{box-shadow:.2vw 0.1vw 0px 0px #000}
.articulo > h2:first-child,aside h2,.h2{text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;color:#000;}.span{margin-right: 1.3vw;}}
/************************/
.modal{position:relative;pointer-events:none;display:none;opacity:0;visibility:hidden;}
.modal:target{display:block;opacity:1;pointer-events:auto;visibility:visible;}
.enable{display:block;opacity:1;pointer-events:auto;visibility:visible;}
/**slider css**/
.container{margin:0 auto;width:100%;height:37vw;overflow:hidden;position:relative;}
.photo{position:absolute;-webkit-animation:round 16s infinite;-moz-animation:round 16s infinite;-o-animation:round 16s infinite;animation:round 16s infinite;opacity:0;width:100%;height:100%}
@-webkit-keyframes round{ 25%{opacity:1;} 40%{opacity:0;} } 
@-moz-keyframes round{ 25%{opacity:1;} 40%{opacity:0;} }
@-o-keyframes round{ 25%{opacity:1;} 40%{opacity:0;} }
@keyframes round{ 25%{opacity:1;} 40%{opacity:0;} }
img:nth-child(4){-webkit-animation-delay:0s;-moz-animation-delay:0s;-o-animation-delay:0s;animation-delay:0s;}
img:nth-child(3){-webkit-animation-delay:4s;-moz-animation-delay:4s;-o-animation-delay:4s;animation-delay:4s;}
img:nth-child(2){-webkit-animation-delay:8s;-moz-animation-delay:8s;-o-animation-delay:8s;animation-delay:8s;}
img:nth-child(1){-webkit-animation-delay:12s;-moz-animation-delay:12s;-o-animation-delay:12s;animation-delay:12s;}
/***shadows**********/
.imglogo>p,section{box-shadow:-1px 1px 0 rgba(102, 102, 102, 0.4), -.1vw .1vw 0 rgba(102, 102, 102, 0.4), -.15vw .15vw 0 rgba(102, 102, 102, 0.4), -.2vw .2vw 0 rgba(102, 102, 102, 0.4), -.25vw .25vw 0 rgba(102, 102, 102, 0.4), -.3vw .3vw 0 rgba(102, 102, 102, 0.4)}